@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* * {
    margin: 2px;
} */

/* share style */
.red {
    color: red;
}

.blue {
    color: blue;
}

.bg-white {
    background-color: white;
}

.white {
    color: white;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

.primary-color {
    color: orange;
}

.secondary-color {
    color: skyblue;
}

.standard-size {
    font-size: 1.25rem;
    font-weight: 600;
}

.primary-btn {
    width: 197px;
    height: 50px;
    color: #ffffff;
    background-color: orange;
    border-radius: 12px;
    border: none;
}

.image-desc {
    font-size: 1rem;
    font-weight: 600;
    color: #666666;
    padding: 0px 38px;
    text-align: left;
}

.image-title {
    font-size: 1.5rem;
    font-weight: 800;
    padding: 0px 38px;
    text-align: left;
}

/* nav section style********************************************* */
hr.orange {
    display: none;
    border: 1px solid orange;
}

.humburger-menu {
    display: none;
}

.marquee {
    font-size: 2.5rem;
    font-weight: 600;
}

.school-part1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.school-logo {
    width: 62px;
    height: 62px;
    margin-left: 140px;
}

.school-title {
    font-size: 2rem;
    font-weight: 800;
}

.home {
    font-size: 1.25rem;
    font-weight: 800;
    text-decoration: none;
}

.about {
    font-size: 1.25rem;
    font-weight: 800;
    text-decoration: none;
}

.facilities {
    color: #05d4df;
    text-decoration: none;
}

.admission {
    color: #5d58ef;
    text-decoration: none;
}

.nav-poperty {
    display: flex;
    gap: 32px;
}

.school-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container {
    width: 1240px;
    /* margin-left: 10px auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* banner section *****************************************************banner****************/
.humburger-menu {
    visibility: hidden;
}

.hero-btn {
    background-color: black;
    width: 197px;
    height: 50px;
    color: #ffffff;
    border-radius: 12px;
    border: none;
}

.hero-description {
    font-weight: 400;
    margin-top: 20px;
}

.hero-sub {
    width: 640px;
    height: 330px;
    /* margin-left: 141px; */
    padding-right: 50px;
}

.hero {
    margin: 0px 140px;
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-title {
    font-size: 3.5rem;
    font-size: 800;
}

.hero-image {
    width: 468px;
    height: 575px;
}

.hero-header {
    width: 640px;
    font-size: 3.5rem;
    font-weight: 800;
}

/* curriculum style*************************************************curriculum style********** */
.curriculum {
    background-image: url(../assets/bg.png);
    height: 800px;
    width: 1440px;
    display: none;
}

.curriculum-title {
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
}

.box-container {
    position: relative;
    width: 367px;
    height: 476px;
    border-radius: 19px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background: linear-gradient(#def5ff, #fff);
}

.box-container-1 {
    position: relative;
    width: 367px;
    height: 476px;
    border-radius: 19px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background: linear-gradient(#fff3d9, #fff);
}

.box-container-2 {
    width: 367px;
    height: 476px;
    border-radius: 19px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(#f2e8ff, #fff);
}

.box-img {
    margin: 52px 115px 20px 115px;
    width: 136px;
    height: 136px;
}

.box-title {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0px;
}

.box-description {
    width: 286px;
    height: 75px;
    line-height: 28px;
    color: #808080;
    margin: 0px 40px;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
}

.read-more {
    margin: 33px 132px;
    color: #64c8ff;
    background: transparent;
    border: none;
}

.read-more-1 {
    margin: 33px 132px;
    color: #f0aa00;
    background: transparent;
    border: none;
}

.read-more-2 {
    margin: 33px 132px;
    color: #8700ff;
    background: transparent;
    border: none;
}

.main-box {
    gap: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chevron-1 {
    color: white;
    font-size: 25px;
    padding: 30px;
    border-radius: 50px;
    background-color: orange;
}

.icon {
    display: flex;
    margin: 80px 640px;
    gap: 10px;
}

/* Ours stories****************************************************Ours stories************* */

.story-main {
    background-image: url(../assets/bg.png),
        linear-gradient(rgb(255, 255, 255), rgb(246, 234, 214));
    width: 1440px;

    /* margin-left: 100px; */
}

.stories-container {
    font-size: 2.9rem;
    font-weight: 800;
    text-align: center;
}

.date {
    color: white;
    font-size: 1rem;
    background-color: #3cd8e8;
    width: 175px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 48px;
    margin: 0px;
}

.stories-image-1 {
    width: 540px;
    height: 630px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    overflow: hidden;
}

.stories-image-2 {
    width: 290px;
    height: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    overflow: hidden;
}

.stories-image-3 {
    width: 290px;
    height: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    overflow: hidden;
}

.stories-image-4 {
    width: 290px;
    height: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    overflow: hidden;
}

.stories-image-5 {
    width: 290px;
    height: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    overflow: hidden;
}

.date-2 {
    background-color: #95b226;
}

.date-3 {
    background-color: #5d58f0;
}

.position {
    position: relative;
    margin-top: -40px;
    margin-left: 35px;
}

.image-2-title {
    font-size: 1rem;
    font-weight: 800;
    text-align: left;
    padding-left: 38px;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.main-image-container {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;
}

.view-all {
    padding: 80px;
}

/* footer *******************************************************************footer**********/

.footer-Kids {
    margin-left: 10px;
}

.footer-logo {
    width: 82px;
    height: 82px;
    color: white;
}

.footer-title {
    font-size: 2.5rem;
    font-weight: 800;
}

.color {
    color: white;
}

.footer {
    padding-left: 120px;
    height: 520px;
}

.footer-main {
    width: 1440px;
    background-color: #01acfd;
}

.main-footer {
    color: white;
    display: flex;
    align-items: center;
}

.footer-description {
    font-size: 1.25rem;
    margin: 0px;
    width: 400px;
}

.about-title {
    font-size: 1.5rem;
    margin-top: 70px;
    margin-left: 40px;
}

.size {
    font-size: 1.25rem;
}

.decoration {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.footer-main {
    display: flex;
    align-items: start;
}

.about-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Keep-container {
    padding-bottom: 30px;
    margin-left: 180px;
}

.about-container {
    margin-left: 150px;
}

/* media query **************************************************media query**************/
@media screen and (max-width: 576px) {
    .hero {
        flex-direction: column-reverse;
    }

    .main-box,
    .about-footer {
        flex-direction: column;
    }

    .nav-poperty,
    .school-btn,
    .school-title,
    .stories-image-1,
    .icon,
    .curriculumm {
        display: none;
    }

    /* ************************************************************************************** Nav  */
    .school-logo {
        margin-left: 20px;
    }

    .humburger-menu {
        visibility: visible;
    }

    .humburger-menu {
        width: 100%;
        display: contents;
        margin-left: 440px;
    }

    hr.orange {
        display: block;
        border: 1px solid orange;
    }

    .hero-image {
        width: 100%;
    }

    .hero {
        width: 100%;
        align-items: center;
    }

    .hero-sub {
        margin-top: 20px;
        padding: 0px;
        width: 100%;
        height: 252px;
        text-align: center;
    }

    .hero-header {
        width: 100%;
        margin: 0px auto;
        font-size: 2rem;
        font-weight: 800;
    }

    .hero-description {
        font-size: 14px;
        font-size: 600;
        width: 100%;
        text-align: center;
    }

    .hero-btn {
        width: 131px;
        height: 40px;
    }

    /* *************************************************************************************** Standard curriculum*/
    .curriculum {
        width: 100%;
        height: 1492px;
        display: contents;
    }

    .curriculum-title {
        margin-top: 100px;
        width: 100%;
        font-size: 1.6rem;
        font-weight: bold;
        text-align: center;
    }

    .box-img {
        padding-left: 90px;
    }

    .box-description {
        width: 90%;
        text-align: center;
    }

    .read-more {
        width: 50%;
    }

    .box-container-1 {
        margin-left: 140px;
        width: 100%;
        align-items: center;
    }

    .read-more-1 {
        width: 50%;
    }

    .box-container-2 {
        margin-left: 140px;
        width: 100%;
        align-items: center;
    }

    .read-more-2 {
        width: 50%;
    }

    /* ******************************************************************** */

    .story-main {
        overflow: hidden;
        margin-top: 100px;
        width: 100%;
    }

    .image-1 {
        width: 90%;
        padding: 0px;
    }

    .image-title {
        padding-left: 20px;
    }

    /* ************************************************************************* */

    .footer-main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;

    }

    .about-footer {}

    .footer {

        width: 100%;
        height: 350px;
        padding: 0px;
        margin-left: 10px;


    }

    .about-container {
        margin-left: 0px;
    }

    .about-title {
        padding: 0px;
        margin: 0px;
        text-align: left;

    }

    .about-iteams {
        padding: 0px;
    }

    .div-about-title {

        justify-content: left;
    }

    .about-container {
        width: 100%;
        margin-left: 10px;


    }

    .Keep-container {
        width: 100%;



    }

    /* **************************************************************** */
    .main-image-container {
        width: 100%;
    }

    .Stories {
        text-align: center;
    }

    .stories-container {
        margin: 0px;
    }



    .Keep-container {
        margin: 0px;
        margin-left: 20px;
        padding-bottom: 30px;
    }

    .box {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .hero-description {
        margin: 16px;
    }

    .box-container {
        width: 100%;
    }

    .box-container-1 {
        margin-right: 150px;
    }

    .box-container-2 {
        margin-right: 150px;
    }

    .Stories {
        font-size: 26px;
        text-align: center;
    }

    .Stories {
        width: 576px;
        font-size: 1.6rem;
        text-align: center;
    }

    .image-2 {
        width: 100%;
    }

    .image-container {
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .view-all {
        width: 390px;
        padding-bottom: 30px;
        text-align: center;
    }

    .main-image-container {
        margin: 0px;
    }


}