@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* share style */

.bg-white {
    background-color: white;
}

.white {
    color: white;
}

body {
    max-width: 1440px;
    margin: 0 auto;

}

.primary-color {
    color: orange;

}

.secondary-color {
    color: skyblue;

}

.standard-size {
    font-size: 1.25rem;
    font-weight: 600;

}

.primary-btn {
    width: 197px;
    height: 50px;
    color: #ffffff;
    background-color: orange;
    border-radius: 12px;
    border: none;
}

.image-desc {
    font-size: 1rem;
    font-weight: 600;
    color: #666666;
    padding: 0px 38px;
    text-align: left;
}

.image-title {
    font-size: 1.5rem;
    font-weight: 800;
    padding: 0px 38px;
    text-align: left;
}

/* nav section style */
.humburger-menu {


    display: none;
}

.school-part1 {
    display: flex;
    text-align: center;
    align-items: center;

}

.school-logo {
    width: 62px;
    height: 62px;
}

.school-title {
    font-size: 2rem;
    font-weight: 800;
}

.home {
    font-size: 1.25rem;
    font-weight: 800;
    text-decoration: none;
}

.about {
    font-size: 1.25rem;
    font-weight: 800;
    text-decoration: none;
}


.facilities {
    color: #05d4df;
    text-decoration: none;

}

.admission {
    color: #5d58ef;
    text-decoration: none;

}

.nav-poperty {
    display: flex;
    gap: 32px;

}

.school-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container {
    margin: 0px 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* banner section */
.hero-btn {
    background-color: black;
    width: 197px;
    height: 50px;
    color: #ffffff;
    border-radius: 12px;
    border: none;
}

.hero-description {
    font-weight: 400;
    margin-top: 20px;
}

.hero-sub {
    width: 640px;
    height: 330px;
    /* margin-left: 141px; */
    padding-right: 50px;
}

.hero {
    margin: 0px 140px;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-title {
    font-size: 3.5rem;
    font-size: 800;

}

.hero-image {
    width: 468px;
    height: 575px;

}

.hero-header {
    width: 640px;
    font-size: 3.5rem;
    font-weight: 800;
}

/* curriculum style */

.curriculum-container {
    font-size: 2.9rem;
    font-weight: 800;
    text-align: center;
    margin: 60px auto;
    background-image: url(../assets/bg.png);
    /* width: 100%;
    height: 100vh; */


}

.box-container {
    width: 367px;
    height: 476px;
    border-radius: 19px;
    box-shadow: 0px 0px 4px 0 rgba(1, 1, 1, 0.16);
    background: linear-gradient(#DEF5FF, #fff);


}

.box-container-1 {
    width: 367px;
    height: 476px;
    border-radius: 19px;
    box-shadow: 0px 0px 4px 0 rgba(1, 1, 1, 0.16);
    background: linear-gradient(#FFF4DC, #fff);


}

.box-container-2 {
    width: 367px;
    height: 476px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

    box-shadow: 0px 0px 4px 0 rgba(1, 1, 1, .16);
    background: linear-gradient(#F2E8FF, #fff);


}

.box-img {

    margin: 52px 115px 20px 115px;
    width: 136px;
    height: 136px;

}

.box-title {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0px;

}

.box-description {
    width: 286px;
    height: 75px;
    line-height: 28px;
    color: #808080;
    margin: 0px 40px;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
}

.read-more {
    margin: 33px 132px;
    color: #64C8FF;
    background: transparent;
    border: none;

}

.read-more-1 {
    margin: 33px 132px;
    color: #F0AA00;
    background: transparent;
    border: none;

}

.read-more-2 {
    margin: 33px 132px;
    color: #8700FF;
    background: transparent;
    border: none;

}

.main-box {
    gap: 28px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.chevron-1 {
    color: white;
    font-size: 25px;
    padding: 30px;
    border-radius: 50px;
    background-color: orange;


}

.icon {
    display: flex;
    margin: 80px 640px;
    gap: 10px;

}



.stories-container {

    margin-left: 130px;
    font-size: 2.9rem;
    font-weight: 800;
    text-align: center;
    background-image: url(../assets/bg.png), linear-gradient(rgb(255, 255, 255), rgb(246, 234, 214));
    ;
    height: 1020px;
}


.date {
    color: white;
    font-size: 1rem;
    background-color: #3CD8E8;
    width: 175px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 48px;
    margin: 0px;




}

.stories-image-1 {
    width: 540px;
    height: 630px;
    background-color: white;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    border-radius: 16px;


}


.stories-image-2 {
    width: 290px;
    height: 300px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    border-radius: 16px;

}

.date-2 {

    background-color: #95B226;
}

.date-3 {
    background-color: #5D58F0;

}


.position {
    position: relative;
    margin-top: -40px;
    margin-left: 35px;
}

.image-2-title {

    font-size: 1rem;
    font-weight: 800;
    text-align: left;
    padding-left: 38px;
}

.image-container {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.main-image-container {

    display: flex;
    gap: 20px;


}

.view-all {
    padding: 80px;
}

/* footer */
.footer-logo {
    width: 82px;
    height: 82px;
    color: white;

}

.footer-title {
    font-size: 2.5rem;
    font-weight: 800;
}

.color {
    color: white;
}

.footer {
    padding-left: 120px;
    height: 520px;
    margin-left: 130px;


}

.footer-main {
    background-color: #01ACFD;

}

.main-footer {
    color: white;
    display: flex;
    align-items: center;

}

.footer-description {
    font-size: 1.25rem;
    margin: 0px;
    width: 400px;
}

.about-title {
    font-size: 1.5rem;
    margin-top: 70px;
    margin-left: 40px;


}


.size {
    font-size: 1.25rem;
}

.decoration {

    text-decoration: none;
}

ul {
    list-style-type: none;
}

.footer-main {

    display: flex;
    align-items: start;
}

.about-footer {
    display: flex;

}

.Keep-container {
    margin-top: 45px;
    margin-left: 150px;

}

/* media query */
@media screen and (max-width: 576px) {

    .hero {
        flex-direction: column-reverse;
    }

    .main-box,
    .footer-main,
    .about-footer {

        flex-direction: column;
    }

    .main-image-container {
        width: 390px;

    }

    .school-logo {
        margin: 0px;

    }

    .nav-poperty,
    .school-btn,
    .school-title,
    .stories-image-1,
    .icon {
        display: none;
    }

    .humburger-menu {
        width: 100%;
        display: contents;
        margin-left: 300px;

    }

    .nav-container {
        width: 390px;
        height: 70px;
        margin: 0px;

    }

    .hero {
        width: 336px;
        margin: 0px;
        align-items: start;
    }

    .hero-header {
        margin: 20px 16px;
        text-align: center;
        width: 350px;
        height: 120px;
        font-size: 2rem;
        font-weight: 800;
    }

    .Stories {
        text-align: center;

    }

    .stories-container {
        margin: 0px;
    }

    .hero-sub {
        padding: 0px;
        width: 355px;
        height: 252px;
        text-align: center;


    }

    .hero-btn {
        width: 131px;
        height: 40px;
    }

    .hero-description {
        font-size: 14px;
    }

    .curriculum-container {
        width: 261px;
        height: 33px;
        margin: 40px 64px;
        font-size: 22px;
        text-align: center;
    }

    .footer {
        padding: 0px;
        margin-left: 20px;
        height: 270px;
    }

    .about-footer {

        margin: 0px;
    }

    .Keep-container {
        margin: 0px;
        margin-left: 20px;
        padding-bottom: 30px;
    }

    .hero-image {
        width: 350px;
        margin: 28px;
    }

    .box {
        width: 356px;
        justify-content: center;
        align-items: center;

    }

    .hero-description {
        margin: 16px;
    }

    .box-container {
        margin-right: 150px;
    }

    .box-container-1 {
        margin-right: 150px;
    }

    .box-container-2 {
        margin-right: 150px;
    }

    .Stories {
        font-size: 26px;
        text-align: center;

    }

    .image-container {

        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
    }













}